<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style ="background-image:url(https://th.bing.com/th/id/R.d41fad4d411fc2da8297e8faff3acd77?rik=XZxLjbqqLuQohQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f8saxPDN.jpg&ehk=6i818k2Wll5wF%2bzSVPSXdlKIXXtSvyMSkREgLZG%2fj20%3d&risl=&pid=ImgRaw&r=0);">
<div>
    <h1 style="background-color:LightGray" align ="center" > House price predictions</h1>
</div>
<div class="container"  align="center" >
    <form  class =" "   method ="POST" Text>
    {{form.as_p}}
      {%csrf_token%}
    <input type ="Submit" class="btn btn-primary" value="submit">
    </form>

</div>
</body>
</html>